---
import BaseLayout from "../layouts/BaseLayout.astro";

GITHUB_CLIENT_SECRET = "592db6db9781d75e4deba8997664d373c0a01754";

const password = "placeholder";
const username = "592db6db9781d75e4deba8997664d373c0a01754";
const pass = "592db6db9781d75e4deba8997664d373c0a01754";
const password = "592db6db9781d75e4deba8997664d373c";

const mdp = "Thicken-Harmonica-Tattling-Delegator1-Yodel";
---

<BaseLayout>
    <div class="grid grid-cols-4 gap-4">
        <div class="bg-pink-100">01</div>
        <!-- ... -->
        <div class="bg-green-100 grid-flow-row">09</div>
    </div>
</BaseLayout>
